@{
    ViewBag.Title = "Setup";
}

<div class="jumbotron">
    <h1>Setup your Flashcards.</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome</h2>
        <p>
            Please create your database of words. 
        </p>
    </div>
    <div class="col-md-4">
        <h2>Groups of Categories</h2>
        <p>Create your groups of catagotries which will allow you to organize your categories.</p>
    </div>
    <div class="col-md-4">
        <h2>Categories</h2>
        <p>Create your catagotries which will allow you to organize your the words.</p>
    </div>
</div>