<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Home", "Index", "Home", new { Area = "" }, new { @class = "topnav_home" })</li>
        <li>@Html.ActionLink("Language", "Index", "Language")</li>
    </ul>
</div>


