@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Grzegorz Kudłacz<br />
    35-125 Rzeszów<br />
    Solarza 22/57<br />
    <abbr title="Phone">P:</abbr>
    663 772 475
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:gkudel@gmail.com"><span class="glyphicon glyphicon-envelope"> gkudel@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:gkudel@gmail.com"><span class="glyphicon glyphicon-envelope"> gkudel@gmail.com</a>
</address>