@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Flashcards</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome</h2>
        <p>
            Flashcards is a application that make your learning 
            a foreign language a pleasure.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Tests & Test History</h2>
        <p>Create a new test from Tests menu and play. You can check your progeres in Test History.</p>
    </div>
    <div class="col-md-4">
        <h2>Contact & About</h2>
        <p>If you want to know who we are please check it in Contact. In About you can find 
            a pice of information about our application and your statistics.
        </p>
    </div>
</div>